
#divAnimals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 160px;

  margin-bottom: 100px;

  background-image: url(/public/logo/back.jpeg);
}
.anya {
  padding: 1%;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
}

.divImg {
  width: 300px !important;
  height: 200px;
}
.anya2 {
  width: 100%;
  height: 100%;
  border-radius: 13px;

  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s; */
}

.footer {
  width: auto;
  height: 80px;
  left: 0;
  right: 0;
  background-color: #006455;
  display: flex;
  margin: 0 auto;
  bottom: 0;
  z-index: 2;
  position: fixed;
}

.adminLogo {
  position: absolute;
  width: 40px;
  top: 8px;
  right: 50px;
}

.registration {
  display: flex;
  align-items: center;
  text-align: center;
  /* margin-left: 80px; */
}

.form-control {
  width: 200px;
}

.form {
  background-color: #006455;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid black;
  border-radius: 20px;
  margin: 200px 0px 0px 600px;
  width: 300px;
}

.inp {
  margin-top: 15px;
  height: 40px;
  margin-bottom: 15px;
}

.btn {
  border-radius: 20px;
  margin-top: 10px;
  height: 30px;
  background-color: rgb(35, 164, 31);
  color: rgb(215, 207, 207);
}

.writeZone {
  border-radius: 20px;
  width: 250px;
  height: 30px;
  margin-top: 5px;
}
.emPas {
  color: rgb(215, 207, 207);
}
.card-body {

  font-size: 25px;
}
.card-title {
  color: rgb(139, 96, 96);
}

.redir {
  text-decoration: none;
}


.main {
  display: flex;
  flex-direction: row;
  margin-top: 110px;
  justify-content: center;
  align-items: center;
}

.main2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}


.trash {
  width: 20px;

}

.error {
  text-align: center;
}

.footer{
  display: flex;
  flex-direction: column;
justify-content: flex-end;
}

#foo {
  position: absolute;
  width: 40px;
  top: 35px;
  right: 50px;

  color: white;
}
